# Ignore virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment settings
.env

